body {
    background: none !important;
}

.tablet {
    border: 16px black solid;
    border-right-width: 60px;
    border-left-width: 60px;
    border-radius: 36px;
    height: 768px;
    width: 1024px;
    position: relative;
    margin: 1% auto;
}



.identity {
  padding-top: 100px;
}

.identity h2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  width: 50%;
}


.plate {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 55px;
  padding-left: 30px;
  padding-right: 30px;
}


.identity input {
  background: rgb(0,36,70) !important;
  border: 1px solid rgb(212,230,0) !important;
  color: rgb(212,230,0) !important;
  text-align: center;
}

.plate input {
  height: 35px;
  width: 255px;
  background: rgb(212,230,0);
  border: 1px solid rgb(0,36,70);
  font-weight: 700;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  outline: none;
  color: rgb(0,36,70);
}



.plate label {
  display:block;
  color: white;
  position: relative;
  padding-bottom: 2px;
  font-weight: 800;
  font-family: "Courier New", Courier, monospace;
}

.table {
  height: 100%;
  width: auto;
  left: 0px;
  background: black;
  background: url("https://docplayer.dk/docs-images/91/107379944/images/1-0.jpg") no-repeat;
  position: absolute;
  bottom: 0px;
  right: 0px;
}




.content {
  height: 100%;
  width: 100%;
  background: #f8f5f1;
  border-radius: 5px;
  position: absolute;
}



.t-result {
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  width: 50%;
  border-collapse: collapse; /* Collapse borders */
  /*border: 1px solid rgb(212,230,0); /* Add a grey border */
  font-size: 14px; /* Increase font-size */
}



.t-result th, .t-result td {
  text-align: center; /* Left-align text */
  background: rgb(212,230,0);
  padding: 12px 0;
  color: black;
  
}

.t-result tr:hover td {
  /* Add a grey background color to the table header and on hover */
  background-color: rgb(18, 181, 255);
}


#i-navn {
  display: block;
  width: 50%;
  height: 40px;
  margin: 0 auto;
}

::placeholder {
  color: rgb(0,36,70);
}

