body {
    background: none !important;
}

.tablet {
    border: 16px black solid;
    border-right-width: 60px;
    border-left-width: 60px;
    border-radius: 36px;
    height: 768px;
    width: 1024px;
    position: relative;
    margin: 1% auto;
}
.typesearch {
  width: 30%;
  float: left;
  padding-bottom: 20px;
}

::placeholder {
  color: rgb(0,36,70);
}

#type {
  font-size: 14px;
}

.psearch{
  padding-top: 0px;
  width: 30%;
  float: left;
}

.psearch input {
  padding-left: 10px;
}

.regi {
  margin-top: 100px;
  padding: 10px 15px;
  color: white;
  font-family: sans-serif;
  line-height: 20px;
  height: 350px;
  width: 90%;
  display: inline-block;
  background: rgba(0,0,0,.5);
}

.plate {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 55px;
  padding-left: 30px;
}


.identity input {
  background: rgb(0,36,70) !important;
  border: 1px solid rgb(212,230,0) !important;
  color: rgb(212,230,0) !important;
  text-align: center;
}

.plate input {
  height: 35px;
  width: 255px;
  background: rgb(212,230,0);
  border: 1px solid rgb(0,36,70);
  font-weight: 700;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  outline: none;
  color: rgb(0,36,70);
}

#type {
  width: 150px;
  height: 35px;
  text-align: center;
  background: rgb(212,230,0);
}

.plate label {
  display:block;
  color: white;
  position: relative;
  padding-bottom: 2px;
  font-weight: 800;
  font-family: "Courier New", Courier, monospace;
}

.table {
  height: 100%;
  width: auto;
  left: 0px;
  background: black;
  background: url("https://docplayer.dk/docs-images/91/107379944/images/1-0.jpg") no-repeat;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.button:hover {
  background-color: #444;
}


.nav {
  position: absolute;
  top: 20px;
  left: 45px;
}


.content {
  height: 100%;
  width: 100%;
  background: #f8f5f1;
  border-radius: 5px;
  position: absolute;
}
