body {
    background: none !important;
}

.tablet {
    border: 16px black solid;
    border-right-width: 60px;
    border-left-width: 60px;
    border-radius: 36px;
    height: 768px;
    width: 1024px;
    position: relative;
    margin: 1% auto;
    background: #111;
}

.button {
  background-color: #333; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;

}

.typesearch {
  width: 50%;
  float: left;
  padding-bottom: 20px;
}

.psearch{
  width: 50%;
  float: left;
}

.plate {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 55px;
  padding-left: 30px;
}

.table2 {
  height: 85%;
  width: 95%;
  background: #222;
  border-radius: 25px;
  position: absolute; 
  bottom: 20px;
  right: 20px;
  border: 1px solid white;
  display: none;
}

.identity input {
  background: #333;
  text-align: center;
}

.plate input {
  height: 35px;
  width: 255px;
}

#type {
  width: 150px;
  height: 35px;
  text-align: center;
}

.plate label {
  display:block;
  color: white;
  position: relative;
  padding-bottom: 2px;
  font-weight: 800;
}

.table {
  height: 85%;
  width: 95%;
  background: #222;
  border-radius: 25px;
  position: absolute; 
  bottom: 20px;
  right: 20px;
  border: 1px solid white;
}

.button:hover {
  background-color: #444;
}


.nav {
  position: absolute;
  top: 20px;
  left: 45px;
}


.content {
  height: 90%;
  width: 85%;
  background: #222;
  border-radius: 25px;
  position: absolute; 
  bottom: 5px;
  right: 5px;
  border: 1px solid white;
}