.t-info {
    display: block;
    width: 100%;
    height: 90%;
}


.profile {
    margin-right: 25%;
    margin-top: 100px;
    float: right;
}

.t-info h2 {
    color: rgb(251,174,21);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 18px;
    line-height: 1rem;
}


.straf span {
    color: black;
    background-color: rgb(251,174,21);
    line-height: 10px;
    padding: 5px;
    
}

.straf td {
    clear: both;
    display: block;
    padding: px;
    color: rgb(18, 181, 255);
    
}


.t-info h3 {
    color: rgb(18, 181, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 14px;
}

.straf {
    margin-left: 5%;
    margin-top: 100px;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    width: 50%;
}